.DS_Store          # macOS
Thumbs.db         # Windows

terraform.tfstate

# Ignorar archivos de configuración de entorno
.env

# Ignorar archivos de logs
*.log
*.lock
# Ignorar archivos temporales de edición
*.tmp
*/.terraform
.tfstate
.terraform.lock.hcl
terraform/.terraform/
# Ignorar directorios de compilación
/build/
dist/

# Ignorar archivos de configuración específicos
.vscode/
.idea/

# Ignorar todos los archivos .txt excepto uno específico
*.txt
!important.txt

# Ignorar cualquier archivo en la carpeta "temp"
temp/